*, body {
  background-color: #FFFFFA;
  box-sizing: border-box;
  color: #424242;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  line-height: 1.75em;
}

.socials {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 1rem;
}

.socials a {
  padding: 0 10px;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.landing {
  height: calc(100vh - 1rem);
  width: 100%;
  display: flex;
  align-items: center;
}

.intro > h1 {
  text-align: center;
  padding-bottom: 12px;
  font-family: 'Proza Libre', sans-serif;
  font-style: 400;
}

span {
  color: #E94F37;
  background-color: inherit;
}

.description {
  background: #CED3DC;
  display: flex;
  height: 500px;
  width: 100%;
}

.aboutme, .skills, .image-box {
  background-color: inherit;
  height: 100%;
  width: 33.33%;
}

.aboutme, .skills {
  display: flex;
  align-items: center;
}

.aboutme > div {
  width: 80%;
  margin: auto;
}

.aboutme > div, .skills > div {
  background-color: inherit;
}

.skills h4 {
  color: #E94F37;
  font-family: 'Proza Libre', sans-serif;
  font-style: 700;
}

.skills h4, p {
  background-color: inherit;
}

.image {
  background-image: url(/img/image1.jpg);
  background-size: cover;
  border-radius: 50%;
  float: right;
  height: 300px;
  position: relative;
  top: 100px;
  right: 55px;
  width: 300px;
}

.projects {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 100%;
}

.project {
  display: flex;
  height: 90%;
  widows: 100%;
}

.teaser-box {
  background-image: url(img/topfivrs-screens/topfivrs-landing.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  height: 200px;
  min-width: 350px;
  margin: auto;
  cursor: pointer;
}

.project-detail {
  margin: auto;
  max-width: 35%;
}

@media(max-width: 700px) {
  .image {
    height: 150px;
    width: 150px;
    top: 160px;
  }
}

@media(max-width: 400px) {
  .intro h1, h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
  }

  .aboutme div, .skills div {
    height: 100%;
    margin: auto;
  }

  .aboutme, .skills, .image-box {
    height: 33.3%;
    width: 100%;
  }

  .skills {
    padding-top: 1rem;
    padding-bottom: 1rem;
    order: 2;
    height: 10%;
  }

  .aboutme {
    order: 3;
    margin-bottom: 1rem;
  }

  .image-box {
    height: 25%;
  }

  .image {
    order: 1;
    height: 128px;
    width: 128px;
    position: relative;
    top: 10px;
    right: 138px;
  }

  .projects {
    height: 100%;
    padding-top: 1rem;
  }

  .project {
    display: flex;
    flex-direction: column;
  }

  .project-detail {
    display: block;
    height: 80%;
    width: 80%;
    margin: 1rem auto;
    padding-top: .75rem;
    text-align: center;
  }

  .project-detail p {
    width: 100%;
  }
}

/* @media(max-width: 700px) {
  .image {
    height: 150px;
    width: 150px;
    top: 160px;
  }
} */