/* reset */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

*, html, body {
  background-color: #FFF;
  color: #616161;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

span {
  color: #E94F37;
  background-color: inherit;
}

a {
  text-decoration: none;
}

/* header */
header {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding-top: .5em;
  padding-bottom: .5em;
}

/* .landing */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 1em);
  text-align: center;
}

.landing > h1 {
  font-family: 'Proza Libre', sans-serif;
  font-style: 700;
}

/* .about-me & image */
.about-me {
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.about-me > h3 {
  background-color: inherit;
  margin-top: .5em;
  margin-bottom: .5em;
}

.about-me p {
  background-color: inherit;
  text-align: center;
  font-size: .8em;
  line-height: 1.7em;
}


.image {
  background-image: url(/img/image1.jpg);
  background-size: cover;
  border-radius: 100193px;
  height: 125px;
  width: 125px;
  /* margin: auto; */
}

/* .skills */
li {
  list-style: none;
}

p {
  line-height: 1.7em;
  font-size: .8em;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: 300px;
}

.skills-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.skills-row li {
  height: 75px;
  width: 100px;
  box-shadow: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-row li > span {
  font-size: .8em;
}

/* .projects */
.projects {
  background-color: #dcdcdc;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.teaser-box {
  background-image: url(img/topfivrs-screens/topfivrs-landing.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  height: 155px;
  width: 275px;
  cursor: pointer;
}

.project-detail {
  max-height: 50%;
  max-width: 75%;
  text-align: center;
}

.project-detail > h5 {
  margin-bottom: 1em;
}

.container {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 );
  margin: auto;
  max-width: 900px;
}

.inherit {
  background-color: inherit;
}

@media (min-width: 900px) {
  .container {
    margin: 1.5em auto;
  }
}