*, body {
  background-color: #FFFFFA;
  box-sizing: border-box;
  color: #424242;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

nav {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-right: 50px;
  height: 50px;
  width: 100%;
}

nav a {
  margin: auto 15px;
  text-transform: uppercase;
}

.socials {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.socials a {
  padding: 0 10px;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.landing {
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.intro > h1 {
  text-align: center;
  padding-bottom: 12px;
  font-family: 'Proza Libre', sans-serif;
  font-style: 400;
}

span {
  color: #E94F37;
  background-color: inherit;
}

.description {
  background: #CED3DC;
  display: flex;
  height: 500px;
  width: 100%;
}

.aboutme, .skills, .image-box {
  background-color: inherit;
  height: 100%;
  width: 33.33%;
}

.aboutme, .skills {
  display: flex;
  align-items: center;
}

.aboutme > div {
  padding-left: 55px
}

.aboutme > div, .skills > div {
  background-color: inherit;
}

.skills h4 {
  color: #E94F37;
  font-family: 'Proza Libre', sans-serif;
  font-style: 700;
}

.skills h4, p {
  background-color: inherit;
}

.image {
  background-image: url(/img/image1.jpg);
  background-size: cover;
  border-radius: 50%;
  float: right;
  height: 300px;
  position: relative;
  top: 100px;
  right: 55px;
  width: 300px;
}

.projects {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 100%;
}

.project {
  display: flex;
  height: 90%;
  widows: 100%;
}

.teaser-box {
  background-image: url(img/topfivrs-screens/topfivrs-landing.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  height: 200px;
  min-width: 350px;
  margin: auto;
  cursor: pointer;
}

.project-detail {
  margin: auto;
  max-width: 35%;
}